*{
	margin:0;
	padding:0;
}
nav{
	width:100%;
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding:10px 0;
	background-color: grey;
	height:20px;
}
.logo{
	width: 100px;
	cursor: pointer;
	margin-right:10px;

}
.g{

	font-size:20px;
	font-style:italic;
	color:white;
	margin-right:10px;

}
nav ul{
	list-style: none;
	width:100%;
	text-align: right;
	padding-right: 60px;
}
nav ul li{
	display: inline-block;
	margin: 10px 20px;
}
nav ul li a{
	color:red;
	text-decoration:none;
}
.btn{
	display: flex;
	align-items:center;
	padding: 10px 20px;
	border: 0;
	outline: 0;
	border-radius: 5px;
	background: orangered;
	color: white;
	font-weight: 500;
	cursor: pointer;

}
.btn img{
	width:20px;
	margin-right: 10px;
}
#time{
    
    padding-top:20px;
    font-size:70px;
    color:black;
}
#as{
    font-size:30px;
    color:salmon;
    
}
#four{
    float:right;
    height:500px;
    width:30%;
}
#link{
    
    color:blue;
    font-size:20px;
}
#yudas{
    float:left;
    width:25%;
    height:400px;
}
#who{
    font-size:30px;
    color:blue;
}
#we{
    font-size:40px;
    color:black;
}
#wrist{
    font-size:28px;
    text-align:left;
}
.d{
    width:120px;
	margin-left:5px;
    height:300px;
	margin-top: 50px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
#han{
	height:800px;
	width:30%;
}
#new1{
	float:right;
	padding-left:430px;
	margin-top:-800px;
	font-size:30px;
	color:lightskyblue;
}
#new2{
	float:right;
	padding-left:430px;
	margin-top:-500px;
	font-size:30px;
	color:lightslategrey;
}
#new3{
	float:right;
	padding-left:430px;
	margin-top:-200px;
	font-size:30px;
	color:lightcoral;
}
.mp4{
	height:60%;
	width:60%;
}
#div{
	width: 250px;
	height: 390px;
	margin-left: 900px;
	margin-top: -420px;
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;
}
#ee{
	width: 250px;
	height: 390px;
	background-color:blue;
	color:white;
	font-size:20px;
	border-radius: 10px;
}
#number{
	width: 100%;
	position:absolute;
	background: linear-gradient(to right, #00093c, #2d0b00);
	color:#fff;
	padding-top: 100px 0 30px;
	border-top-left-radius: 125px;
	margin-top: 50px;
}
#row{
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.col{
	flex-basis: 25%;
	padding: 10px;
}
.logo{
	width: 80px;
	
}
.ll{
	font-size:15px;
}
.nn{
	font-size:20px;
	width:fit-content;
	margin-bottom: 40px;
	position: relative;
}
.email-id{
	font-size:15px;
	width: fit-content;
	border-bottom: 1px solid #ccc;
	margin:20px 0;
}
form{
	padding-bottom:15px;
	display: flex;
	align-items:center;
	justify-content: space-between;
	border-bottom: 1px solid #ccc;
	margin-bottom: 50px;
}
hr{
	width:90%;
	border:0;
	border-bottom:1px solid #ccc;
	margin: 20px auto;

}
.copyrights{
	font-size:10px;
	text-align: center;
}
.underline{
	width:100%;
	height:3px;
	background: #767676;
	border-radius: 2px;
	position: absolute;
	top:25px;
	left:0;
	overflow:hidden;
}
.underline span{
	width: 15px;
	height:100%;
	background: #fff;
	border-radius:2px;
	position: absolute;
	top:0;
	left:10px;
	animation: moving 2s linear infinite;
}
@keyframes moving{
	0%{
		left:-20px;
	}
	100%{
		left:100%;
	}
}